* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    display: grid;
}

.nav-bar img {
    width: 200px;
    position: absolute;
    left: 50px;
}

.nav-bar {
    width: 100vw;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 22222;
}

.nav a {
    color: grey;
}

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 30vw;
}
#tele{
    position: absolute;
    width: 550px;
    right: 0;
    top: -120px;
    z-index: 100;
    
}

.button1 {
    border: none;
   color: azure;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    background: linear-gradient(10deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
     position: absolute;
    right: 40px;
}
.button1 a{
    color: azure;
}
.button2 a{
    color: azure;
}
.div2 {
    position: sticky;
    display: flex;
    height: 500px;
    background-color: rgba(235, 229, 229, 0.182);
    overflow: hidden;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leftt {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lh2 {
    color: rgb(70, 70, 163);
    font-size: xx-large;
    font-weight: bold;

}

.p1 {
    margin: 30px 0;
    color: gray;
}

.button2 {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    color: azure;
    background: linear-gradient(10deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));

}

.right {
    width: 50%;
    background-image: url(/digitalbank-landing-page-master/images/bg-intro-desktop.svg);
    background-size: 900px;
    background-position: left center;
    background-repeat: no-repeat;
    overflow: hidden;

}
.div3{
    padding-left: 50px;
    width: 99vw;
    height: 350px;
        background-color: rgba(235, 229, 229, 0.33);
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    
}
.top{
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.top p{
    color: gray;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    row-gap: 10px;
}
.top h3{
    color: rgb(70, 70, 113);
}
.bottom img{
    width: 60px;
    padding-bottom: 20px;
}
.bottom p{
    color: gray;
    padding-top: 20px;
}
.pic img{
    width: 150px;
}
#pic{
    width: 135px;
}
.div4{
    display: grid;
    grid-template-rows: 20% 1fr;
    padding-left: 20px;
    height: 400px;
  background-color: rgba(235, 229, 229, 0.182);


}
.divh{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.divp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    padding-left: 50px;
}
.pic h6{
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
}
.pic h5{
    padding-bottom: 10px;
    color: rgb(70, 70, 163);
}
.pic p{
    width: 250px;
    color: grey;
}
.div5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    width: 99vw;
    background-color: rgb(56, 56, 96);
}
#im{
    width: 130px;
    padding-bottom: 30px;
}
.class a{
    padding-left: 10px;
}
.class img{
    width: 20px;
}
.diji{
    padding: 50px;
}
.about a{
    color: gray;
}
.about a:hover{
    color: rgb(2, 124, 2);
}
.about{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
}
.suo a{
    color: grey;
}
.suo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
}
.all{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-right: 100px;

}
#icon{
    display: none;
}
.all p{
    padding-top: 20px;
    color: grey;
}
#mobil{
    display: none;
}
@media(max-width:375px){

    .nav,.button1{
        display: none;
    }
    #icon{
        display: block;
        position: absolute;
        right: 10px;
        color: grey;
        font-size: x-large;
    }
    .nav-bar img{
        width: 150px;
        position: absolute;
        left: 10px;
    }
    .nav-bar{
        display: flex;
        position: relative;
    }
    
    .div2{
        display: grid;
        grid-template-rows:1fr 1fr ;
    }
    #mobil{
        display: block;
        height: 200px;
        position: absolute;
    }
   .div2{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 600px;
   }
   .left{
    padding-left: 0;
    width: 100%;

   }
   .right{
    width: 100%;

   }
   #tele{
    width: 350px;
    position: absolute;
    top: -90px;
   }
   .leftt{
    height: 300px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top h3{
    width: 150px;
    font-size: x-large;
}
.top p{
    text-align: center;
    width: 300px;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  .div3{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 130vh;
  }
  .onl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .div5{
        display: none;
    }
    .divh{
    padding-left: 80px;
    color: rgb(105, 105, 205);
    font-size: xx-large;
    padding-top: 30px;
    }
    .div4{
        height: 130vh;
    }
    .divp{
        display: flex;
        flex-direction: column;
        height: 150vh;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
       padding: 0;
       padding-top: 30px;

    }
    .pic{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pic img{
        width: 300px;
    }
    .pic{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
}

